# hidden staff
.DS_Store

# __pycache__
/__pycache__/*

# vscode setting
/.vscode/*

RandomlyMoveFileExp/label_template/
RandomlyMoveFileExp/fold_alen/
RandomlyMoveFileExp/fold_yulong/
RandomlyMoveFileExp/fold_poshih/